*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* DEBUG */
    background-color: yellow;
}

.ms_header{
    background-color: lightgrey;
    /* height: 100px; */
}

.ms_yellow_icon{
    color:#ff8e00;
}

.navbar-toggler{
    border-color: #f8f9fa;
}

.form-control{
    background-color:#e5e5e5;
}

.wrapper{
    height: 100vh;
}

.ms_main{
    overflow: hidden;
    margin-top: 76px;
    height: 100vh;
}

.aside-bar{
    width: 20%;
    flex-grow: 1;
    background-color: #001831;
    /* DEBUG */
}

.main-content{
    width: 100%;
    /* DEBUG */
    background-color: green;
}

.text{
    padding: 10px;
    width: 100%;
    /* DEBUG */
    /* border: 1px solid black; */
}

.special-text{
    height:calc(100vh - 138px);
    padding: 10px;
    width: 100%;
    /* DEBUG */
    /* border: 1px solid black; */
}

a{
    text-decoration: none;
    color: white;
}












