/* Genaral Rules */

.wrapper{
    height: 100vh;
    width: 100%;
    /* background-color: black; */
}

header{
    /* DEBUG */
    background-color: grey;
    height:50px;
}

.navbar-toggler{
    border: #f8f9fa;
}

.yellow-icon{
    color: #ffc003;
}

.row{
    /* DEBUG */
    /* border: 1px solid yellow; */

}

.col, .col-1, .col-2,
.col-3, .col-4, .col-5,
.col-6, .col-7, .col-8,
.col-9, .col-10, .col-11,
.col-12{
    /* DEBUG */
    /* min-height: 50px; */
    /* border: 1px solid black */
}

main{
    overflow: hidden;
    height: 100vh;
    display: flex;
    margin-top: 76px;
    background-color: #f8f9fa;
    /* DEBUG */
}

/* Nav-Aside */

.nav-aside{
    overflow: hidden;
    height: 100vh;
    flex-grow: 1;
    width: 20%;
    /* DEBUG */
    background-color: #001831;
}

i, h6{
    text-decoration: none;
    margin-right: 10px;
    color: white;
}

.ms_container{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
}

/* Middle Main */

.middle{
    overflow: scroll;
    height: 100vh;
    width: 100%;
    /* DEBUG */
    /* background-color: blue; */
}

/* Blu Container */
.ms_boolean_blue{
    margin-right: 10px;
    color: white;
}

span{
    margin-right: 5px;
    padding-left: 5px;
}

.circle{
    padding: 5px 10px;
    border-radius: 50%;
    background-color:#0e5bbb;
}

/* Prossime Classi Container */

.ms_col_prossime, .ms_col_faq,
.ms_col_todo, .ms_col_utenti {
    border-radius: 10px;
    border: 1px solid grey;
    background-color: #f7f7f7;
}

.ms_col_todo{
}

.ms_table{
    width: 100%;
}

.fa-solid.fa-code{
    color: white;
    background-color: red;
    border: 1px;
    border-radius: 25%;
}

.fa-solid.fa-pencil,
.fa-solid.fa-trash{
    border: 1px solid grey;
    border-color:grey;
}

.fa-solid.fa-plus{
    color: #0f75fc;
    padding: 10px;
    border: 1px solid #0f75fc;
}

.done{
    padding: 5px;
    color: white;
    background-color: green;
    border-radius: 25%;
}

.process{
    padding: 5px;
    color: white;
    background-color: #ffc003;
    border-radius: 25%;
}

.failed{
    padding: 5px;
    color: white;
    background-color: red;
    border-radius: 25%;
}

/* FAQ Container */
.ms_col_faq{
    height: 100%;
}

/* Statistic Container */

.stat img{
    width: 100%;
}

.ms_lista_utenti{
    font-size: 12px;
}

a{
    text-decoration: none;
}
















